
*{
    margin: 0% ;
    padding: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y:hidden ;
}

body{
    width: 100%;
    background-color:#2bc3ff;

}
.box-body {
    display: flex;
width: 400px; height: 600px;
background-color: black;
border-top-left-radius: 100px ;
border-top-right-radius: 100px;
position: relative; 
justify-content: center;
z-index: 0  ;
align-items: center;
left: 350px;
top: 10rem;
}

.box-eye {
width: 50px; height: 50px;
background-color: antiquewhite;
border: 1px;
position: absolute;
z-index: 1  ;
margin-top: -20rem;
}

.box-beak{
    width: 0px;
    height: 0px;
    border: 100px solid transparent;
    border-left: 100px solid rgb(255, 191, 0) ;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    bottom: 20rem;
    left: 46.89rem;

    
}

@media all (max-width:400px){

    
    .box-body{
        width: 90%; 
        height: 90%;
    }
    .box-beak{ width: 90%; 
        height: 90%;

    }
    .box-beak{
        width: 90%; 
        height: 90%;
    }
}
 